@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Cabin, sans-serif;
    font-weight: 300;
    color: #2d2c2a;
    font-size: 75%;
}

/* Header and logo */

h1 {
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    color: #2d2c2a;
}

#logo {
    text-decoration: none;
    text-align: center;
    font-size: 200%;
}

/* Navigation bar */

#navbar {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
    overflow: hidden;
}

#navbar li {
    text-decoration-line: none;
    text-align: center;
    float: left;
}

#navbar a {
    color: inherit;
    text-decoration: none;
    text-align: center;
    display: inline;
}