@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Cabin, sans-serif;
    font-weight: 300;
    color: #2d2c2a;
    font-size: 75%;
   }

/* Header and logo */

header {
    padding-top: 15px;
    background-color: rgba(154, 153, 158, 0.4);
}

h1 {
    font-family: Bebas Neue, sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    color: #2d2c2a;
}

#logo {
    text-decoration: none;
    text-align: center;
    font-size: 200%;
}

/* Navigation bar */

.menu {
    width: 100%;
    margin: 0 auto; 
    /*background-color: rgba(154, 153, 158, 0.4);*/
}

#navbar {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
    text-align: center;
    margin: 0;
}

#navbar li {
    margin: 0;
    display: inline-block;
}

#navbar a {
    color: #FDFBFC;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 7px;
}

#navbar a:hover {
    background-color: #698A9B;
}

/*need to fix why hover doesn't cover full width of a element*/

.selected {
    background-color: #698A9B;
}

/*hero image*/

#hero {
    height: 600px;
    width: 100%;
    background: url(../images/banff_snowboarder.jpg) no-repeat scroll center top/cover;
}